<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArduinoCommunicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArduinoCommunicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArduinoCommunicator.Properties.Settings>
            <setting name="defaultBaudrate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="defaultParity" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="defaultStopbits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultEndsignCom" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="defaultEndsignArd" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="defaultTheme" serializeAs="String">
                <value>Dark</value>
            </setting>
        </ArduinoCommunicator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ArduinoCommunicator.Properties.Settings>
            <setting name="Baudrate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stopbits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndsignCom" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EndsignArd" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="colBackGround1" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="colBackGround2" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="colBackGround3" serializeAs="String">
                <value />
            </setting>
            <setting name="colForeGround1" serializeAs="String">
                <value />
            </setting>
            <setting name="colForeGround2" serializeAs="String">
                <value />
            </setting>
            <setting name="colForeGround3" serializeAs="String">
                <value />
            </setting>
            <setting name="colButton1" serializeAs="String">
                <value />
            </setting>
            <setting name="colButton2" serializeAs="String">
                <value />
            </setting>
            <setting name="colButton3" serializeAs="String">
                <value />
            </setting>
            <setting name="colAccent1" serializeAs="String">
                <value />
            </setting>
            <setting name="colAccent2" serializeAs="String">
                <value />
            </setting>
            <setting name="colAccent3" serializeAs="String">
                <value />
            </setting>
            <setting name="colFont1" serializeAs="String">
                <value />
            </setting>
            <setting name="colFont2" serializeAs="String">
                <value />
            </setting>
            <setting name="colFont3" serializeAs="String">
                <value />
            </setting>
        </ArduinoCommunicator.Properties.Settings>
    </userSettings>
</configuration>