<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArduinoCommunicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArduinoCommunicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArduinoCommunicator.Properties.Settings>
            <setting name="default_Baudrate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="default_Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="default_Stopbits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="default_EndsignCom" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="default_EndsignArd" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="default_Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
        </ArduinoCommunicator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ArduinoCommunicator.Properties.Settings>
            <setting name="Baudrate" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stopbits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndsignCom" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EndsignArd" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
        </ArduinoCommunicator.Properties.Settings>
    </userSettings>
</configuration>